#wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
    overflow: hidden;
}

#wrapper #main-image {
    width: 1200px;
    height: 400px;
    background-image: url("./../img/main_image01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#wrapper #main-contents {
    margin-top: 50px;
    width: 1200px;
    height: 200px;
}

#wrapper #main-contents .contents {
    float: left;
    width: 200px;
    height: 200px;
    background-color: #5D310C;
    margin-left: 80px;
}

#wrapper #info {
    float: right;
    width: 800px;
    height: 300px;
    margin: 50px 80px 120px 0;
}

#wrapper #info h2 {
    width: 790px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    color: #ddd;
    background-color: #5D310C;
}

#wrapper #info div {
    width: 798px;
    height: : 249px;
    border: 1px solid #222;
}

#wrapper #info div p {
    font-size: 23px;
    padding: 0 0 0 20px;
    text-decoration: underline;
    color: #92e5fe;
}

#wrapper #category {
    float: left;
    width: 150px;
    margin: 50px 0 30px 50px;
    border: 1px solid #222;
}

#wrapper #category li {
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: #394548;

}
